* {
    padding: 0;
    margin: 0;
}

#wrapper {
    background-color: rgb(7, 5, 5);
    height: 100vh; 
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.border {
    border: 5px solid white;
    border-width: medium;
    padding: 100px;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    
}

input,  button {
    padding: 5px;
    margin-top: 15px;
}

button {
    background-color: rgb(102, 69, 102);
    color: white;
}

h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 5px 5px 10px rgb(102, 69, 102);
}

#numofguesses {
    color: white;
    text-shadow: 5px 5px 10px rgb(102, 69, 102);
    padding: 20px;
    font-size: 20px;
}

#yourguess {
    color: rgb(102, 69, 102);
    padding: 20px;
    font-size: 25px;
}
